/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
}

body {
  background-image: url("/assets/raccoon-soccer-1-2.jpg");
  background-position: -70px 0px;
  /* background-image: url("/assets/soccer-racoon.gif"); */
  background-color: #e6e3dc;
  margin-top: 0px;
  height: 100%;
}

/* .main{
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  grid-template-columns: repeat(2, 17em);
  grid-column-gap: 2em;
}

.background-img{
  position: relative;
  background-color: red;
  background-image: url("/assets/raccoon-soccer-1-2.jpg");
  width: 25%;
  height: 100%;
} */

.content {
  position: relative;
  background-color: #e6e3dc;
  margin: auto;
  width: 50%;
  /* height: 100%; */
  padding: 1em;
  margin-top: 0%;
  padding-bottom: 2em;
  padding-top: .5em;
  /* border: 1px solid black; */
  min-width: 50rem;
}

h2 {
  color: #26392a;
}

h1 {
  color: #121A13;
  /* font-family: Garamond, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; */
  font-weight: bold;
}

input:focus {
  outline: 3px solid #9EAFA9;
}

button.delete {
  display: inline-block;
  background-color: #e6e3dc;
  border-radius: 4px;
  font-weight: bold;
  padding: .1em .5em .1em .5em;
  color: red;
  margin-left: 1em;
}
  
button.delete:hover {
  background-color: #748c84;
  color: white;
}

button.add-button {
  background-color: #c7c6bc;
  padding: 1em;
  border-radius: 4px;
  cursor: pointer;
}

button.add-button:hover {
  background-color: #748c84;
}

.new {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  padding: .5em;
  color: #121A13;
  background-color: #e6e3dc;
}

.new label, input {
  margin-right: .25em;
}

.new input {
  background-color: #e6e3dc;
  padding: 0.75em;
  border-radius: 4px;
}

::-webkit-scrollbar{
  width: .7rem;
  height: .7rem;
}

::-webkit-scrollbar-track{
  background-color: #c7c6bc;
}

::-webkit-scrollbar-thumb{
  background: #9EAFA9;
  border-radius: 10px;
}

::-webkit-scrollbar-corner{
  background-color: #c7c6bc;
}