<ul class="checkout-products">
    <li *ngFor="let item of cart">
        <div *ngIf="item">
            <label class="name">{{item.name}}: </label>
            <br>
            <label class="info"> {{item.color}} / ${{item.price}} </label>
        </div>
    </li>
</ul>
<p id="subtotal">Subtotal: {{subtotal}}</p>
<input type="text" id="discount" [(ngModel)]="discountCode" placeholder="Discount Code">
<button type="button" (click)="applyDiscount()">Apply</button>
<p id="discount" *ngIf="applied">Discount: {{discountCode}} (-{{amount}}%)</p>
<h3 id="total">Total: {{total}}</h3>
<button type="button" class="checkout" (click)="checkout()">Checkout</button>
