<h1>Shopping Cart</h1>
    <!-- <div *ngFor="let product of products">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>{{ product.price }}</p>
      <button (click)="addToCart(product)">Add to Cart</button>
    </div> -->
    <h2>Cart</h2>
    <div *ngFor="let item of cart">
      <h3>{{ item.product.name }}</h3>
      <p>{{ item.product.description }}</p>
      <p>{{ item.product.price }}</p>
      <button (click)="removeFromCart(item)">Remove</button>
    </div>xs