<div *ngIf="product">
    <h2>{{product.name | uppercase}} Details</h2>
    <div>
      <label for="product-name">Product name: </label>
      <input id="product-name" *ngIf="isAdmin; else customerName" [(ngModel)]="product.name" placeholder="Product name"/><br>
      <ng-template #customerName id="product-name" >{{product.name}}</ng-template>
      <label for="product-number">quantity: </label>
      <input type="number" id="product-number" *ngIf="isAdmin; else customerNum" [(ngModel)]="product.number" placeholder="Product number"/><br>
      <ng-template #customerNum id="product-number" >{{product.number}}</ng-template>
      <label for="product-price">price: </label>
      <input type="number" id="product-price" *ngIf="isAdmin; else customerPrice" [(ngModel)]="product.price" placeholder="Product price"/>
      <ng-template #customerPrice id="product-number" >${{product.price}}</ng-template>
    </div>
    <div><span>id: </span>{{product.id}}</div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" *ngIf="isAdmin" (click)="save()" >save</button>
    <button type="button" *ngIf="isCustomer" (click)="addToCart(product.id)" >add to cart</button>
  </div>