<h2>Our Balls</h2>
<button type="button" class="sort" (click)="sortByPriceDesc()">Sort by Price (high to low)</button>
<button type="button" class="sort" (click)="sortByPriceAsc()">Sort by Price (low to high)</button>
<button type="button" class="sort" (click)="sortByQuantityDesc()">Sort by Stock (high to low)</button>
<button type="button" class="sort" (click)="sortByQuantityAsc()">Sort by Stock (low to high)</button>
<button type="button" class="filter" (click)="filterByColor('red')">Filter by each individual color</button>
<button type="button" class="sort" (click)="ngOnInit()">reset</button>
<ul class="products">

  <li *ngFor="let product of products">
    <div *ngIf="isAdmin; else customer">
      <a routerLink="/detail/{{product.id}}">
        <span class="badge">id: {{product.id}}</span> {{product.name}}: {{product.number}} left
      </a>
      <button type="button" class="delete" title="delete product" *ngIf="isAdmin"
        (click)="delete(product)">x</button>
    </div>
    <ng-template #customer>
      <div *ngIf="product.number > 0">
        <a routerLink="/detail/{{product.id}}">
          {{product.name}}
        </a>
      </div>
      <div *ngIf="product.number < 1">
        <a routerLink="/detail/{{product.id}}">
          SOLD OUT: {{product.name}}
        </a>
      </div>
    </ng-template>
    
  </li>
</ul>

<div *ngIf="isAdmin">
  <label for="new-product">New Product name: </label>
  <input id="new-product" #productName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(productName.value); productName.value=''">
    Add product
  </button>
</div>