/* ProductsComponent's private CSS styles */

.sort {
  color: #121A13;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.sort span{
  color: #121A13;
  border: 2px solid #525252;
  margin: 2px;
  padding: 0.75em;
  border-radius: 4px;
}

.sort select{
  color: #121A13;
  background-color: #e6e3dc;
}

.sort button{
  color: #121A13;
  background-color: #e6e3dc;
  border: 2px solid #525252;
  cursor: pointer;
  margin: 2px;
  padding: 0.75em;
  border-radius: 4px;
}

.sort button:focus{
  background-color: #9EAFA9;
}

button#reset:hover {
  background-color: #9EAFA9;
}

button#reset:focus {
  background-color: #e6e3dc;
}

.products {
    margin: 0 10% 0 10%;
    list-style-type: none;
    padding: 0;
    width: 50%;
  }
  
  ul {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 17em);
    grid-column-gap: 2em;
  }

  /* input {
    display: block;
    width: 20%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  } */
  
  .products li {
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  .products li:hover {
    left: .1em;
  }
  
  .products a {
    color: #121A13;
    text-decoration: none;
    background-color: #e6e3dc;
    margin: .5em;
    padding: .5em;
    padding-left: 0px;
    border: 2px solid #525252;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
  }
  
  .products a:hover {
    color: #121A13;
    background-color: #c7c6bc;
  }
  
  .products a:active {
    background-color: #9EAFA9;
    color: #fafafa;
  }
  
  .products .badge {
    display: inline-block;
    align-self: left;
    font-size: small;
    color: #eeedea;
    padding: 0.7em;
    background-color: #748c84;
    line-height: 1em;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

button.add-button {
  margin-left: .5em;
}