/* AppComponent's private CSS styles */
  h1 {
    margin-bottom: 0;
  }
  
  nav a {
    font-size: 20px;
    padding: 1.25em;
    text-decoration: none;
    margin: 3px;
    margin-top: 10px;
    display: inline-block;
    background-color: #748c84;
    color: #26392a;
    border-radius: 7px;
  }

  nav a:hover {
    color: #eeedea;
    background-color: #9EAFA9;
  }

  nav a:active {
    background-color: black;
  }